<a href="https://colab.research.google.com/github/antoniocruzds/Machine-Learning/blob/master/Classificacao_Vinhos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
#Importando o DataSet
vinhos = pd.read_csv('/content/drive/My Drive/Machine Learning/Classificação de Vinhos/datasets_16721_22034_wine_dataset.csv')

In [3]:
#Lendo as primeiras linhas do df
vinhos.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5    red
1            7.8              0.88         0.00  ...      9.8        5    red
2            7.8              0.76         0.04  ...      9.8        5    red
3           11.2              0.28         0.56  ...      9.8        6    red
4            7.4              0.70         0.00  ...      9.4        5    red

[5 rows x 13 columns]

In [6]:
#Renomeando as informações da coluna style para melhorar a classificação
vinhos['style'] = vinhos['style'].replace('red', 0)   #Vinho tinto = 0
vinhos['style'] = vinhos['style'].replace('white', 1) #Vinho branco = 1

In [7]:
#Verificando 
vinhos.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5      0
1            7.8              0.88         0.00  ...      9.8        5      0
2            7.8              0.76         0.04  ...      9.8        5      0
3           11.2              0.28         0.56  ...      9.8        6      0
4            7.4              0.70         0.00  ...      9.4        5      0

[5 rows x 13 columns]

In [8]:
#Definindo as variáveis preditoras e variáveis alvo(que queremos prever)
y = vinhos['style'] #Armazenhando a coluna 'style'
x = vinhos.drop('style', axis = 1) #armazenando o resto do df sem a coluna 'style'

In [9]:
#Importando a função necessaria para separar o df em teste e prova
from sklearn.model_selection import train_test_split

In [10]:
#Separando o conjunto de dados
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.4) #Separando em 40% para teste

In [12]:
#Verificando
print(x.shape)
print(x_teste.shape)
print(x_treino.shape)

(6497, 12)
(2599, 12)
(3898, 12)

## Treinando

In [16]:
#Importando a função necessaria para trabalhar com a arvore de decisão
from sklearn.ensemble import ExtraTreesClassifier

#Criando uma variável que vai receber a função
modelo = ExtraTreesClassifier()

#Aplicando o modelo nos dados de x_treino e y_treino
modelo.fit(x_treino, y_treino)

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100,
                     n_jobs=None, oob_score=False, random_state=None, verbose=0,
                     warm_start=False)

## Testando

In [18]:
#Mostrando os resultados:
resultados = modelo.score(x_teste, y_teste) #Analisando os dados de teste e tentando prever a classificação

#Mostrando a acurácia
print('Acurácia:', resultados)

Acurácia: 0.996921893035783

## Prevendo

In [19]:
#Pegando dados de teste aleatorios(Classificações) e analisando o resultado obitido:
y_teste[200:205]

1726    1
2541    1
1273    0
3032    1
1493    0
Name: style, dtype: int64

de acordo com as informações, os vinhos tem essas classificações. Agora iremos pegar outras informações dos mesmos vinhos, tentar prever a classificação, e comparar com essas

In [20]:
#Pegando os dados de teste:
x_teste[200:205]

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
1726            6.5             0.240         0.32  ...       0.54      9.7        7
2541            5.4             0.415         0.19  ...       0.41     10.0        7
1273            7.5             0.580         0.20  ...       0.43      9.3        5
3032            7.1             0.290         0.49  ...       0.33     12.2        6
1493            7.7             0.540         0.26  ...       0.59      9.7        5

[5 rows x 12 columns]

In [23]:
#Prevendo a classificação dos vinhos:
previsao = modelo.predict(x_teste[200:205])

#Mostrando as previsões e os dados de classificação para comparar:
print(previsao)
print(y_teste[200:205])

[1 1 0 1 0]
1726    1
2541    1
1273    0
3032    1
1493    0
Name: style, dtype: int64

Podemos ver que são iguais, logo a previsão foi ok.